<h1><%= @sub.title %></h1>
<h4>Description: </h4>

<p style="text-indent: 50px"><%= @sub.description %></p>

<br>

<% sub_posts = @sub.posts %>
<% if sub_posts.empty? %>
  There are no posts yet...
  <br><br>
<% else %>
  <strong>Posts!</strong>
  <ul>
    <% PostSub.all.each do |post_sub| %>

    <% if post_sub.sub_id == @sub.id %>
      <% post = post_sub.post %>

        <li><a href="<%= post.url %>"><%= post.title %></a></li>
        &nbsp&nbsp&nbsp<a href="<%= sub_post_url(sub_id: @sub.id, id: post.id)
         %>">comments</a>

    <% end %>


    <% end  %>
  </ul>
<% end %>

<% if current_user %>
  <a href="<%= new_sub_post_url(sub_id: @sub.id) %>">make new post!</a>
<% end %>

<br>
<a href="<%= users_url %>">back to all subs</a>
<br>
<br>

<% if current_user && (current_user.id == @sub.moderator_id) %>
  <form action="<%= edit_sub_url(@sub) %>" method="GET">
    <%= form_auth %>
    <input type="submit" value="Edit sub">
  </form>

  <form action="<%= sub_url(@sub) %>" method="POST">
    <%= form_auth %>
    <input type="hidden" name="_method" value="DELETE">
    <input type="submit" value="Delete sub permanently">
  </form>
<% end %>
